<header>
    <nav id="navbar" class="navbar navbar-expand-lg d-flex align-items-center">
     
 
       <div class="container-xs  pe-5 d-flex align-items-center">  
         <a routerLink=""></a><img src="assets/img/logo.svg" alt="logo" class="img-fluid" id="logo">
         
 
       </div>
 
       <div class="container px-0 d-flex align-items-center justify-content-center ">
         <form class="form-inline "> 
          <input id="pesquisa" class="form-control" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
         </form>

       </div>
  
       
       
       <div class="container-sm d-flex align-items-center justify-content-end">
         <div class="nav-item active container-xs  mx-0 ps-4 d-flex align-items-center justify-content-center ">
          <a href="#"><img src="assets/img/favoritos.svg" alt="icone de favoritos" class="img-fluid" id="favorito"></a> 
          
          </div>
        
          <div class="nav-item active container-xs  mx-0 ps-4 d-flex align-items-center justify-content-center">
          <a href="login"><img src="assets/img/login.svg" alt="icone de login" class="img-fluid" id="login"></a>
          </div>
        
         <div class="nav-item active container-xs  mx-0 ps-4 d-flex align-items-center justify-content-center">
           <a href="#"><img src="assets/img/carrinho.svg" alt="icone de carrinho" class="img-fluid" id="carrinho"></a>
   
         </div> 
         
         
        </div>
        
        
      </nav>
      
      <div id="categorias" class="container-fluid d-flex justify-content-center align-items-center px-2">
        <a class="h3" href="#">celulares</a>
        <a class="h3" href="#">desktops</a>
        <a class="h3" href="#">notebooks</a>
        <a class="h3" href="#">consoles</a>
        <a class="h3" href="#">periféricos</a>

      </div>
      
    </header>
