#navbar{
    background-color: #338ddf;

}

#carrinho,#favorito,#login{
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
}

#pesquisa{
    width: 800px;
    padding: 0;
}

#logo{
    width: 100%;
}

#categorias{
    background-color: #338ddf;   
}
