<footer class="container-fluid  d-flex justify-content-center my-4 pt-4 " id="rodape">

    <div class="container-sm  d-flex align-items-center justify-content-center">  
  
      <img src="assets/img/logo.svg" alt="logo" class="img-fluid" id="logo2">
      
      
    </div>
    <div class="container-fluid d-flex justify-content-center flex-column px-2"> 
      <p class="h6 ms-3">número de contato 0000-0000</p>
      <p class="h6 ms-3">localização xxxxxxxxxx</p>
      <p class="h6 ms-3">contato xxxxxxxxxxx@xxxxxxxxx</p>
  
    </div>
  
    <div class="container-sm  d-flex align-items-start  ">
      <a href="#"><img src="assets/img/facebook.svg" alt="facebook" class="img-fluid" id="fc"></a>
    </div>
  
    <div class="container-sm  d-flex align-items-start  ">
      <a href="#"><img src="assets/img/instagram.svg" alt="instagram" class="img-fluid" id="inst"></a>
    </div>
  
    
  
  </footer>
