 
    <div id=grande class="container  w-50 d-flex flex-column justify-content-center">
        
        <div class="container-xs d-flex align-items-center justify-content-center flex-column">
        <a href="index.html"><img src="assets/img/logo.svg" alt="logo da loja" class="img-fluid"></a>
        <h1>Login</h1>
    </div>
        


             <form method="get">
                  
                 <div class="container-xs d-flex align-items-baseline justify-content-center">
                     <label for="email">E-mail:</label>
                     <input type="Email" name="email" id="lg">
                 </div>

                 <div class="container-xs  d-flex align-items-baseline justify-content-center">
                     <label for="senha">Senha:</label>
                     <input type="Password" name="senha" id="senha">
                  </div>

                 <div class="container-xs  d-flex align-items-center justify-content-center">
                    <button type="submit" class="btn btn-outline-light pt-1 mx-0" id="" onclick="pegaDadosLogin()"> Enviar </button>
                 </div>
 
            </form>
         
         </div>


