

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
    background-color: #338ddf;
}

a, p, label {
    color: white;
    padding-left: 40px;
}

body{
    background-color: #338ddf;
    width: 100%;
    height: 100%;
    display: flex;
    
}

p,label,a,h1{
    color: white;
    font-family: sans-serif;
}
