
<div class="container-fluid mx-0 p-0 ">
    <img src="assets/img/destaque.svg" alt="imagem de destaque" class="img-fluid">
  </div>

  
  <div class="container-sm d-flex justify-content-center my-4 pt-4">
    <p class="h1">Lançamento</p>
  </div>
  
  <div class="container-fluid  d-flex align-items-center justify-content-center">

  <div class= "container-sm  px-5 d-flex justify-content-center align-items-center flex-column">
    <img src="assets/img/celular.svg" class="img-fluid" alt="imagem de celular">
      <p class="h2 ms-2">celular</p>
   

  </div>

  <div class="container-sm   px-5 d-flex justify-content-center align-items-center flex-column">
    <img src="assets/img/console.svg" class="img-fluid" alt="imagem de console">
    <p class="h2 ms-2">console</p>
  </div>

  <div class="container-sm  container-sm  px-5 d-flex justify-content-center align-items-center flex-column">
    <img src="assets/img/teclado.svg" class="img-fluid" alt="imagem de teclado">
    <p class="h2 ms-2">teclado</p>
  </div>
</div>

<div class="container-sm  d-flex justify-content-center my-4 pt-4">
  <p class="h1">Mais Procurados</p>
</div>

<div class="container-fluid d-flex justify-content-center w-100">

<div class="container-sm  container-sm  px-5 d-flex justify-content-center align-items-center flex-column">
  <img src="assets/img/computador.svg" class="img-fluid" alt="imagem de computador">
  <p class="h2 ms-2">produto</p>
</div>

<div class="container-sm  container-sm px-5 d-flex justify-content-center align-items-center flex-column">
  <img src="assets/img/mouse.svg" class="img-fluid" alt="imagem de mouse">
  <p class="h2 ms-2">produto</p>
</div>

<div class="container-sm  container-sm px-5 d-flex justify-content-center align-items-center flex-column">
  <img src="assets/img/mouse.svg" class="img-fluid" alt="imagem de mouse">
  <p class="h2 ms-2">produto</p>
</div>
</div>

