#navbar{
    background-color: #338ddf;

}

#carrinho,#favorito,#login{
    width: 100%;
    height: 60px;
    padding: 0;
    margin: 0;
}

#pesquisa{
    width: 800px;
    padding: 0;
}

#logo{
    width: 100%;
}

#categorias{
    background-color: #338ddf;   
}

#logo2{
    width: 100%;
}

#rodape{
    background-color: #1a1717d7;
}

#fc,#inst {
    width: 100%;
    height: 40px;
    padding: 0;
    margin: 0;
}